.redButton {
    background-color: #ff3F2E
}

.blueButton {
    background-color: #13a0ff;
}


.excuteB {
    color: black;
    width: 50% !important;
}
.einput {
    border-radius: 4px;
    cursor: pointer;
}


.rainbow {
    border-radius: 4px;
    animation: gaming1 2s linear infinite;
}
@keyframes gaming1 {
    0% { background-color: Magenta; }
    33% { background-color: yellow; }
    66% { background-color: Cyan; }
    100% { background-color: Magenta; }
}